<!DOCTYPE html>
<html>

<head>
    <title>.got</title>
    <link ref="stylesheet" type="text/css" href="static/css/main.css">
    <style>
        body {
            padding: 0 10px 0 10px;
            background-color: ghostwhite;
        }
        pre {
            background-color: whitesmoke;
        }
    </style>
</head>

<body>
    <h2><a href="/">.got</a>/<a href="/">repositories</a>/<a href="/repository/{{.RepoName}}">{{.RepoName}}</a>/<a href="#">{{.Name}}</a></h2>
    <pre>
        <code>
{{.Contents}}
        </code>
    </pre>

</body>

</html>