<!DOCTYPE html>
<html>

<head>
    <title>GOT</title>
    <link ref="stylesheet" type="text/css" href="/static/css/main.css">
    <style>
        body {
            padding: 0 10px 0 10px;
            background-color: ghostwhite;
        }
        table {
            background-color: whitesmoke;
        }
    </style>
</head>

<body>
    <h1>GOT</h1>
    <h2>Repositories</h2>
    <table>
        <thead>
            <tr>
                <th>Name</td>
            </tr>
        </thead>
        <tbody>
            {{ range .Repositories }}
            <tr>
                <td><a href="repository/{{ .Name }}">{{ .Name }}</a></td>
            </tr>
            {{ end }}

        </tbody>
    </table>

</body>

</html>