<!DOCTYPE html>
<html>

<head>
    <title>GOT</title>
    <link ref="stylesheet" type="text/css" href="static/css/main.css">
</head>

<body>
    <h1>{{.Name}}</h1>
    <p>Commits {{.TotalCommits}}</p>
    <p>Branches {{.TotalBranches}}</p>
    <table>
        <thead>
            <tr>
                <th>File</td>
                <th>Hash</td>
            </tr>
        </thead>
        <tbody>
            {{range .Files}}
            <tr>
                <td><a href="#">{{.Name}}</a></td>
                <td><a href="#">{{.Hash}}</a></td>
            </tr>
            {{end}}

        </tbody>
    </table>

</body>

</html>