<!DOCTYPE html>
<html>

<head>
    <title>.got</title>
    <link ref="stylesheet" type="text/css" href="static/css/main.css">
    <style>
        body {
            padding: 0 10px 0 10px;
            background-color: ghostwhite;
        }
        table {
            background-color: whitesmoke;
        }
    </style>
</head>

<body>
    {{$repoName := .Name }}
    <h2><a href="/">.got</a>/<a href="/">repositories</a>/<a href="/repository/{{$repoName}}">{{$repoName}}</a></h2>


    <p>Commits <a href="/repository/{{$repoName}}/commits">{{.TotalCommits}}</a> | Branches <a href="#">{{.TotalBranches}}</a></p>
    <table>
        <thead>
            <tr>
                <th>File</td>
                <th>Hash</td>
            </tr>
        </thead>
        <tbody>
            {{range $f := .Files}}
            <tr>
                <td><a href="{{$repoName}}/blob/{{$f.Name}}">{{$f.Name}}</a></td>
                <td><a href="#">{{$f.Hash}}</a></td>
            </tr>
            {{end}}

        </tbody>
    </table>

</body>

</html>